.square{
    width: 100px;
    height: 100px;
    background-color: purple;
    transition: background-color 0.5s, border-radius 0.5s;
}

.square:hover{
    background-color: red;
    border-radius: 50%;
}